* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #111;
}

.nav-links{
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #222;
    font-size: 1.1rem;
    font-weight: 500;

    transition: all 0.3s ease;
}

.nav-links a:hover{
    color: #6C4CF1;
}
.navbar-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navbar{
    width: 92%;
    height: 85px;

    background: white;

    border-radius: 25px;

    padding: 0 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow:
        0 5px 25px rgba(108,76,241,0.10);
}
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 2.4rem;
    color: #6C4CF1;
    cursor: pointer;
}
.hero {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.hero-text {
    width: 55%;
}

.hero-text h1 {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hero-text h2 {
    color: #6C4CF1;
    margin-bottom: 25px;
}

.hero-text p {
    font-size: 1.3rem;
    margin-bottom: 35px;
    max-width: 600px;
}

.buttons button {
    padding: 15px 35px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s;
    border: none;
}

.buttons button:first-child {
    background: #6C4CF1;
    color: white;
}

.buttons button:last-child {
    background: white;
    border: 2px solid #6C4CF1;
    color: #6C4CF1;
}

.buttons button:hover {
    transform: translateY(-4px);
}

.hero-image {
    width: 280px;
    height: 280px;
    border-radius: 25px;
    overflow: hidden;
    background: #ece6ff;

    box-shadow:
        0 0 40px rgba(108, 76, 241, 0.35),
        0 20px 50px rgba(108, 76, 241, 0.20);

    animation: float 4s ease-in-out infinite;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes float {
    0% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(-55px);
    }

    100% {
        transform: translateY(-40px);
    }
}
.hero-image {
    position: relative;
}

.hero-image::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgba(108, 76, 241, 0.25);
    filter: blur(60px);
    z-index: -1;
    top: -10%;
    left: -10%;
}
.active{
    color: #6C4CF1 !important;
    position: relative;
}

.active::after{
    content: '';

    position: absolute;

    width: 100%;
    height: 3px;

    background: #6C4CF1;

    left: 0;
    bottom: -12px;

    border-radius: 10px;
}
.hero-image{
    transform: translateY(-40px);
}
.social-icons{
    display: flex;
    gap: 25px;
    margin-top: 40px;
}

.social-icons a{
    font-size: 2rem;
    color: #6C4CF1;
    transition: 0.3s ease;
}

.social-icons a:hover{
    transform: translateY(-5px);
    color: #4e35c7;
}
.about{
    padding: 120px 10%;
}

.section-title{
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2{
    font-size: 3rem;
    color: #6C4CF1;
}

.about-card{
    max-width: 900px;
    margin: auto;

    background: white;

    padding: 50px;

    border-radius: 25px;

    box-shadow:
        0 10px 40px rgba(108,76,241,0.08);

    line-height: 1.8;
    font-size: 1.2rem;
}
.projects{
    padding: 120px 10%;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.project-card{
    background: white;
    padding: 40px;
    border-radius: 25px;

    box-shadow:
        0 10px 40px rgba(108,76,241,0.08);

    transition: 0.3s;
}

.project-card:hover{
    transform: translateY(-10px);
}

.project-card h3{
    color: #6C4CF1;
    margin-bottom: 20px;
}
@media(max-width:900px){

    .hero{
        flex-direction: column;
        text-align: center;
    }

    .hero-text{
        width: 100%;
    }

    .project-grid{
        grid-template-columns: 1fr;
    }

    .nav-links{
        gap: 20px;
    }

    .hero-image{
        margin-top: 50px;
    }
}
.hidden{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

.show{
    opacity: 1;
    transform: translateY(0);
}
.skills{
    padding: 120px 10%;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap: 30px;
}

.skill-card{
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 10px 30px rgba(108,76,241,0.08);
    transition: 0.3s;
}

.skill-card:hover{
    transform: translateY(-10px);
    color: #6C4CF1;
}
.contact{
    padding: 120px 10%;
}

.contact-card{
    background: white;
    max-width: 700px;
    margin: auto;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(108,76,241,0.08);
}
.project-card img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.project-link{
    display: inline-block;
    margin-top: 20px;
    color: #6C4CF1;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover{
    transform: translateX(5px);
}
.contact{
    padding: 120px 10%;
}

.contact-container{
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));

    gap: 30px;
}

.contact-card{
    background: white;

    padding: 35px;

    border-radius: 25px;

    text-decoration: none;
    color: #222;

    display: flex;
    align-items: center;
    gap: 20px;

    box-shadow:
        0 10px 30px rgba(108,76,241,0.08);

    transition: 0.3s ease;
}

.contact-card:hover{
    transform: translateY(-10px);
    box-shadow:
        0 20px 40px rgba(108,76,241,0.15);
}

.contact-card i{
    font-size: 3rem;
    color: #6C4CF1;
}

.contact-card h3{
    margin-bottom: 8px;
}
.whatsapp{
    border: 2px solid #25D366;
}

.whatsapp i{
    color: #25D366;
}

.whatsapp:hover{
    transform: translateY(-10px) scale(1.03);

    box-shadow:
        0 20px 40px rgba(37,211,102,0.25);
}
.floating-whatsapp{
    position: fixed;

    bottom: 30px;
    right: 30px;

    width: 70px;
    height: 70px;

    background: #25D366;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 2rem;

    text-decoration: none;

    box-shadow:
        0 10px 30px rgba(37,211,102,0.4);

    z-index: 1000;

    transition: 0.3s;
}

.floating-whatsapp:hover{
    transform: scale(1.1);
}
